/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #000000;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px black dotted;
  mix-blend-mode: screen;
  position: absolute;
  cursor: pointer;
  z-index: auto;
}


.isolate2 {
  isolation: isolate; /* Without isolation, the background color will be taken into account */
  width: 700px;
  height: 600px;
  position: relative;
  left: 180px;
  top: 280px;
}

#flashlightRed{
  mix-blend-mode: screen;
  position: absolute;
  left:0px;
  top: 0px;
  width: 420px;
  height: 400px;
}

#flashlightGreen{
  mix-blend-mode: screen;
  position: absolute;
  left:270px;
  top: 0px;
  width: 420px;
  height: 400px;
}

#flashlightBlue{
  mix-blend-mode: screen;
  position: absolute;
  left:245px;
  top: 140px;
  width: 200px;
  height: 450px;
}


.sliders{  /* div containing sliders */
  position:absolute;
  top: 120px;
  left: 270px;
}

/* suggested colors for slider thumbs and boxes is:
red: #DF643B
green: #60B358
blue: #367AE4
*/

@property --redSliderColor {
  syntax: "<color>";
  inherits: false;
  initial-value: #DF643B;
}

@property --greenSliderColor {
  syntax: "<color>";
  inherits: false;
  initial-value: #60B358;
}

@property --blueSliderColor {
  syntax: "<color>";
  inherits: false;
  initial-value: #367AE4;
}


/*----style the sliders----*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 300px;
  margin-top: 20px;
}

/* remove default focus */
input[type="range"]:focus {
  outline: none;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #bbbbbb;
  border-radius: 10px;
  height: 20px;
}

input[type="range"]::-moz-range-track {
  background-color: #bbbbbb;
  border-radius: 10px;
  height: 20px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */
  background-color: #bbbbbb;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

input[type="range"]::-moz-range-thumb {
  background-color: #bbbbbb;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#redSlider::-webkit-slider-thumb{
  background-color: var(--redSliderColor);
}
#redSlider::-moz-range-thumb{
  background-color: var(--redSliderColor);
}
#greenSlider::-webkit-slider-thumb{
  background-color: var(--greenSliderColor);
}
#greenSlider::-moz-range-thumb{
  background-color: var(--greenSliderColor);
}
#blueSlider::-webkit-slider-thumb{
  background-color: var(--blueSliderColor);
}
#blueSlider::-moz-range-thumb{
  background-color: var(--blueSliderColor);
}

/* add focus for accessibility */
#redSlider:focus::-webkit-slider-thumb {
  outline: 3px solid var(--redSliderColor);
  outline-offset: 0.125rem;
}

#redSlider:focus::-moz-range-thumb{
  outline: 3px solid var(--redSliderColor);
  outline-offset: 0.125rem;
}

#greenSlider:focus::-webkit-slider-thumb {
  outline: 3px solid var(--greenSliderColor);
  outline-offset: 0.125rem;
}

#greenSlider:focus::-moz-range-thumb{
  outline: 3px solid var(--greenSliderColor);
  outline-offset: 0.125rem;
}

#blueSlider:focus::-webkit-slider-thumb {
  outline: 3px solid var(--blueSliderColor);
  outline-offset: 0.125rem;
}

#blueSlider:focus::-moz-range-thumb{
  outline: 3px solid var(--blueSliderColor);
  outline-offset: 0.125rem;
}





.label, .value{
  display: inline-block;
  width: 50px;
  text-align:center;
  background-color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
}
.label{
  margin-bottom: 15px;
  margin-left: 40px;
}
.value{
  cursor: pointer;
}

#redLabel, #redValue{
  background-color: var(--redSliderColor);
  color: white;
}

#greenLabel, #greenValue{
  background-color: var(--greenSliderColor);
  color: white;
}

#blueLabel, #blueValue{
  background-color: var(--blueSliderColor);
  color: white;
}



/* turn off scroll for number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}




.outline{
  font-size: 50px;
  position: absolute;
  width: 1024px;
  height: 768px;
  top: 0px;
  left: 0px;
  border:1px black solid;
  cursor: pointer;
}

.helpBox{
  background-color:white;
  font-size: 16px;
  position: absolute;
  width: 480px;
  top: 80px;
  left: 640px;
  padding: 20px;
  border-radius: 5%;
  display: none;
}
.header{
  font-weight: 500;
  font-size: 20px;
}
#dismissHelpButton{
  width: 180px;
  height: 36px;
  font-size: 18px;
  border-radius: 5px;
}

#questionMark{
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  background-color: #60B358;
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  position: absolute;
  left: 920px;
  top: 120px;
  cursor: pointer;
  display: block;
}

.logoBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	background-color: white;
	text-align:left;
}
.logoImage{
	width: 200px;
	margin-left:40px;
}

.titleBox{
  color: #3B5486;
  font-size: 36px;
  position: absolute;
  top: 20px;
  left:450px;
}


