/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  mix-blend-mode: screen;
  position: absolute;
  cursor: pointer;
  z-index: auto;
}

/* start with circles making TinkrWorks orange color (247,149,32) */
#circleRed {
  background: rgb(247,0,0);
  left: 140px;
  top: 40px;
}

#circleGreen {
  background: rgb(0,149,0);
  left: 180px;
  top: 40px;
}

#circleBlue {
  background: rgb(0,0,32);
  left: 160px;
  top: 80px;
}

.isolate {
  isolation: isolate; /* Without isolation, the background color will be taken into account */
  position: relative;
}

.sliders{  /* div containing sliders */
  position:absolute;
  top:330px;
}


.slider{
  width: 300px;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  cursor: pointer;
  outline: none;
  height: 15px;
  border-radius: 16px;
  overflow: hidden;
}

/* Slider Track*/
.slider::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.slider::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Slider Thumb */
.slider::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #555;
  border: 2px #ffffff solid;
  border-radius: 50%;
  box-shadow: -407px 0 0 400px #f50;
}

.slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #555;
  border: 2px #ffffff solid;
  border-radius: 50%;
  box-shadow: -407px 0 0 400px #f50;
}

#redSlider::-webkit-slider-thumb{
  box-shadow: -407px 0 0 400px #ff0000;
  /*background-color: #ff0000;*/
}
#redSlider::-moz-range-thumb{
  box-shadow: -407px 0 0 400px #f0000;
  /*background-color: #ff0000;*/
}
#greenSlider::-webkit-slider-thumb{
  box-shadow: -407px 0 0 400px #00ff00;
  /*background-color: #00ff00;*/
}
#greenSlider::-moz-range-thumb{
  box-shadow: -407px 0 0 400px #00ff00;
  /*background-color: #00ff00;*/
}
#blueSlider::-webkit-slider-thumb{
  box-shadow: -407px 0 0 400px #0000ff;
  /*background-color: #0000ff;*/
}
#blueSlider::-moz-range-thumb{
  box-shadow: -407px 0 0 400px #0000ff;
  /*background-color: #0000ff;*/
}


#redSlider{
  accent-color: #FF0000;
}

#greenSlider{
  accent-color: #00FF00;
}

#blueSlider{
  accent-color: #0000FF;
}

.label{
  display: inline-block;
  width: 50px;
  margin-bottom: 10px;
  margin-left: 40px;
  padding: 5px 10px;
  text-align:right;
  background-color: white;
  border-radius: 3px;
}

.value{
  width: 50px;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: white;
  border-radius: 3px;
  border: none;

}

/* turn off scroll for number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}


.rocketDiv{
  position: absolute;
  width: 50px;
  height: 50px;
  left:150px;
  top: 500px;
}

.outline{
  font-size: 50px;
  position: absolute;
  width: 1024px;
  height: 768px;
  top: 0px;
  left: 0px;
  border:1px black solid;
  cursor: pointer;
}

.helpBox{
  background-color:white;
  font-size: 16px;
  position: absolute;
  width: 480px;
  top: 60px;
  left: 520px;
  padding: 10px;
  display: none;
}
.header{
  font-weight: 500;
  font-size: 20px;
}
#dismissHelpButton{
  width: 180px;
  height: 36px;
  font-size: 18px;
  border-radius: 5px;
}

#questionMark{
  font-size: 60px;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  border-radius: 3px;
  position: absolute;
  left: 500px;
  top: 60px;
  cursor: pointer;
  display: block;
}
