/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* to remove banner with logo: hide/remove .logobox, change --top-banner-height to 45px   */
/* to also remove blue banner: hide/remove .titlebox, change --top-banner-height to 0px */
/*  **** NEED TO ALSO CHANGE JAVASCRIPT: topBannerHeight */
:root {
  --top-banner-height: 125px;
}

body{
	margin-left: 30px;
}

/                                               change #button-box top: 65px; height: calc(100vh - 65px); */
.logoBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	background-color: white;
	text-align:left;
  
}
.logoImage{ 
	width: 220px; /* 220x66 */
	margin-left:40px;
}

.titleBox{
  background-color: #3B5486;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  width: 100vw;
  height: 45px;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  top:80px;  /* logo is 80px high*/
  left: 0px;  
}


#button-box{ 
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 0px;
  top: calc(var(--top-banner-height) + 65px);
  height: calc(100vh - var(--top-banner-height) - 65px); 
  width: 87px;  /* will be resized dynamically to width of Blockly toolbox */
  z-index: 999;  /* override Blockly so this sits on top of toolbox */
  background-color: #B0BBCC;
  padding-top: 20px;
}

.app-icon{  
  width: 50px;
  margin-top: 10px;
  
}


.big-button {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  width: inherit;
  height: 90px;
  padding: 10px 0 0 0;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  transition: background-color 150ms;
}

.big-button:hover{
 /*background-color: #5079BE;*/
 background-color: #A0AABB;
}
.big-button:active{
  background-color: #C0CCDD;
}






                /* branding at top is 125px high */
#blocklyDiv{    /* these values also used in sketchJavascript.js when window is resized */
	height: calc(100vh - var(--top-banner-height));  
	width: calc(100vw - 40px);
  position: absolute;
  top: var(--top-banner-height);
  left:0;
}



.dot {
  height: 25px;
  width: 25px;
  border: 2px black solid;
  border-radius: 50%;
  position:absolute;
}

.textbox{
	width: 50px;
}

.svgWhiteBox{
	width:320px;
  height: 240px;
  position: absolute;   /* position based on window */
  right: 100px; /* reset in JS on load */
  top: calc(var(--top-banner-height) + 10px);    /* reset in JS on load */
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #808080;
  padding: 20px;
  z-index: 10;
}

#svgDIV{
  position: absolute;   /* inside svgWhiteBox */
  top: 20px;
  left: 20px;
  pointer-events: none;
}


/* toggle switches are at bottom of svgWhiteBox */
#toggles{
  width: 90%;
  height: 26px;
  position: absolute;
  bottom: 10px;
  padding:0px;
  margin:0px;
}


.toggleText{
  display: inline-block;
  position: relative;
  top: 6px;
  height: 26px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-left: 5%;
}

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin: 0px 20px 0px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #26AB49;
}

input:focus + .slider {
  box-shadow: 0 0 1px #26AB49;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}







