/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	margin-left: 30px;
}

#site-topbar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  min-width:600px;
  color:#ffffff;
  font-family: Roboto, sans-serif;
  background-color: #2E5390;
}

.button-bar{
  display: flex;
  align-items: center; /* vertically centered */
}

.app-icon{
  display: inline-block;
  text-align: center;
  margin: 5px 10px 0 5px;
  height: 80px;
  padding: 2px;
  border-radius: 44px;
  background-color: #5079BE;
}

.app-title {
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  margin: 10px;
  width: 200px;
  min-width: 180px;
  background: transparent;
  border: none;
  text-overflow: ellipsis;
}

.big-button {
  font-size: 16px;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 90px;
  height: 90px;
  min-width: 90px;
  padding: 8px 0 0 0;
  text-align: center;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #5079be !important;
  border-radius: 0px;
  transition: background-color 150ms;
}

.big-button:hover{
  background-color: #5079BE;
}
.big-button:active{
  background-color: #E4EAF3;
}

.button-icon{
  position: relative;
  top:16px;
  width: 50px;
}





#blocklyDiv{    /* these values also used in sketchJavascript.js when window is resized */
	height: calc(100vh - 100px);  
	width: calc(100vw - 40px);
  position: absolute;
  top:100px;
  left:0;
}



.dot {
  height: 25px;
  width: 25px;
  border: 2px black solid;
  border-radius: 50%;
  position:absolute;
}

.textbox{
	width: 50px;
}

.svgWhiteBox{
	width:320px;
  height: 240px;
  position: absolute;   /* position based on window */
  right: 100px; /* reset in JS on load */
  top:110px;    /* reset in JS on load */
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #808080;
  padding: 20px;
  z-index: 10;
}

#svgDIV{
  position: absolute;   /* inside svgWhiteBox */
  top: 20px;
  left: 20px;
  pointer-events: none;
}


/* toggle switches are at bottom of svgWhiteBox */
#toggles{
  width: 90%;
  height: 26px;
  position: absolute;
  bottom: 10px;
  padding:0px;
  margin:0px;
}


.toggleText{
  display: inline-block;
  position: relative;
  top: 6px;
  height: 26px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin-left: 5%;
}

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin: 0px 20px 0px 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #26AB49;
}

input:focus + .slider {
  box-shadow: 0 0 1px #26AB49;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}







